<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yaohl.live_broad">

    <application
        android:name=".LiveApplication"
        android:allowBackup="true"
        android:label="@string/live_app_name"
        android:supportsRtl="true"
        android:theme="@style/live_AppTheme">
        <activity android:name=".ui.LiveActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
